{% extends 'base.html.twig' %}
{% block body %}
    <div class="Absolute-Center">
        <img src="bundles/framework/images/ZipJet.png" width="100" height="20">

        {% if status == 200 %}
            <div class="col result">
                {{ request['amount'] }} {{ request['base_currency'] }} = {{ result }} {{ request['target_currency'] }}
                <br>Current rate is <b>{{ rate }}</b>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Ooops! Something whent wrong, try again later
            </div>
        {% endif %}

    </div>
  {% endblock %}
